@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body{
  margin: 0%;
  padding: 0%;
  
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}
.time{
  font-family: "Jersey 10", sans-serif;
  color: #149414;
  font-weight: 400;
  font-style: normal;
  font-size: 15em;
}