@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@font-face {
  font-family: "digital mono";
  src: local("digital mono"),
    url("./fonts/digital-7-mono.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "digital";
  src: local("digital"),
    url("./fonts/digital-7.ttf") format("truetype");
  font-weight: normal;
}

body{
  margin: 0%;
  padding: 0%;
  
}
.center{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 100vh
}
.time-mono, .time {
  color: #149414;
  font-weight: 400;
  font-style: normal;
  width: min-content;
  margin: 0;
  padding: 0;
  font-size: 25vw;
}
.time-mono{
  font-family: "digital mono", sans-serif;
}
.time{
  font-family: "digital", sans-serif;

}
.date{
  font-family: "digital", sans-serif;
  color: #149414;
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 8vw;
  text-align: center;
}
line, circle, ellipse{
  stroke-width: 5;
}
circle, ellipse{
  stroke: red;
}


/* circle {
  stroke-width: 40;
} */